[submodule "litedram"]
	path = litedram
	url = git@github.com:enjoy-digital/litedram.git
[submodule "litepcie"]
	path = litepcie
	url = git@github.com:enjoy-digital/litepcie.git
[submodule "litex"]
	path = litex
	url = git@github.com:enjoy-digital/litex.git
[submodule "litex-boards"]
	path = litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "liteiclink"]
	path = liteiclink
	url = https://github.com/enjoy-digital/liteiclink.git
[submodule "liteeth"]
	path = liteeth
	url = https://github.com/enjoy-digital/liteeth/
[submodule "litesata"]
	path = litesata
	url = https://github.com/enjoy-digital/litesata.git
[submodule "litescope"]
	path = litescope
	url = https://github.com/enjoy-digital/litescope.git
